<header class="header-area header-sticky" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            <img src="images/logo.png" alt="">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Search End ***** -->
          <div class="search-input">
            <form id="search" action="#">
              <input type="text" placeholder="상상 검색" id='searchText' name="searchKeyword" onkeypress="handle" />
              <i class="fa fa-search"></i>
            </form>
          </div>
          <!-- ***** Search End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="/home" class="active">Home</a></li>
            <li><a href="/">Make</a></li>
            <li><a href="/">Rank</a></li>
            <li><a href="/">Other</a></li>
            <div th:if="${mgmtest == '1'}">
              <li><a href="profile.html">mondorai <img src="images/profile-header.jpg" alt=""></a></li>
            </div>
            <div th:unless="${mgmtest == '1'}">
              <li><a href="/oauth2/authorization/google">google login <img src="images/profile-header.jpg" alt=""></a></li>
            </div>

          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>